/debug
/target
/.idea

/rustlings/*.swp
/rustlings/target/
/rustlings/**/*.rs.bk
/rustlings/.DS_Store
/rustlings/*.pdb
/rustlings/exercises/clippy/Cargo.toml
/rustlings/exercises/clippy/Cargo.lock
/rustlings/rust-project.json
/rustlings/.idea
/rustlings/.vscode/*
/rustlings/!.vscode/extensions.json
/rustlings/*.iml
/rustlings/*.o
public/
/rustlings/.netlify